[submodule ".vim/pack/mypackages/start/SimpylFold"]
	path = .vim/pack/mypackages/start/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule ".vim/pack/mypackages/start/lightline"]
	path = .vim/pack/mypackages/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/mypackages/start/trailing-whitespace"]
	path = .vim/pack/mypackages/start/trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule ".vim/pack/mypackages/start/fugitive"]
	path = .vim/pack/mypackages/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/mypackages/start/nerdtree"]
	path = .vim/pack/mypackages/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/mypackages/start/nerdtree-git-plugin"]
	path = .vim/pack/mypackages/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/pack/mypackages/start/supertab"]
	path = .vim/pack/mypackages/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/pack/mypackages/start/surround"]
	path = .vim/pack/mypackages/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/mypackages/start/auto-pairs"]
	path = .vim/pack/mypackages/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/pack/mypackages/start/FastFold"]
	path = .vim/pack/mypackages/start/FastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule ".vim/pack/mypackages/start/vue"]
	path = .vim/pack/mypackages/start/vue
	url = https://github.com/posva/vim-vue.git
[submodule ".vim/pack/mypackages/start/repeat"]
	path = .vim/pack/mypackages/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/pack/mypackages/start/colors-solarized"]
	path = .vim/pack/mypackages/start/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized.git
[submodule ".vim/pack/mypackages/start/indentpython"]
	path = .vim/pack/mypackages/start/indentpython
	url = https://github.com/vim-scripts/indentpython.vim.git
[submodule ".vim/pack/mypackages/start/javascript"]
	path = .vim/pack/mypackages/start/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/mypackages/start/signify"]
	path = .vim/pack/mypackages/start/signify
	url = https://github.com/mhinz/vim-signify.git
