[user]
	name = David Love
	email = davidklove@pm.me
[core]
	editor = vim
	excludesfile = ~/.gitignore
[merge]
	tool = vimdiff
[color]
	ui = true
[alias]
	a = add
	c = commit
	ci = clean -fdx
	co = checkout
	d = diff
	dc = diff --cached
	dt = difftool
	f = fetch
	g = log --graph --full-history --color --decorate --all
	graph = log --graph --full-history --color --decorate --all
	p = pull
	s = status

[pull]
	rebase = true
